<div class="default-style" id="aboutme">
	<div class="text-bold margin-top-15px">
		<span class="cmd-green-color">root@127.0.0.1:</span>
		<span class="cmd-blue-color">~/root/menu/about_me</span>
		<span class="white-color">$</span>

		<input id="4" class="cmd-input" type="text" placeholder="type `cd menu` to show the menu and press enter" autocomplete="off" />
	</div>	 			

	<span>portfolio</span>
	<span class="cmd-active-color">about_me</span>
	<span>skills</span>
	<span>contact_me</span>

	<div class="text-align-justify">
		<h3 class="white-color">About Me</h3>
			<p class="white-color">My name is Akira Fukushima, I am 22 years old and currently a Fullstack Developer, an enthuastic learner and passionate for programming. And you probably wondering yourselves, why I created a website with a theme of <span class="text-bold">terminal</span> or for Windows user <span class="text-bold">command prompt</span>. To be completely honesty you with you, I simply miss using jQuery (which is the magic your seeing right now); and I decided to create this website mainly for people to empathise the developers on how much dedication they put into the work. Ensure that every single letter, word, sentence and paragraph is correct so we don't get prompted an error message from the computer.</p>

			<p class="white-color">During my free time when I am not programming, I spent my time learning new language, or at least pretend to try. Salut! Ça va? Je apprendre le français dans sept mois! Or playing games, I believe that most of Generation Z typically tend to play online games, to socialize amongst other gamers. Other hobbies include, building a personal discord bot using NodeJS or walking around Brisbane, familiarizing myself with the new city.</p>

<!-- 					<p class="white-color">And if you made this far then congratulations! The command to disable terminal theme is <span class="text-bold text-underline">sudo terminal kill -9</span> but if you're enjoying the good old fashion terminal theme, then feel free to do so.</p> -->

		<img class="center" src="/images/ascii_desktop.png" alt="ascii_desktop.png" />
	</div>
</div>