<div id="contact_me">
	<div class="row default-style">
		<div class="text-bold margin-top-15px">
			<span class="cmd-green-color">root@127.0.0.1:</span>
			<span class="cmd-blue-color">~/root/menu/contact_me</span>
			<span class="white-color">$</span>

			<input id="6" class="cmd-input" type="text" placeholder="type `cd menu` to show the menu and press enter" autocomplete="off" />
		</div>

		<span>portfolio</span>
		<span>about_me</span>
		<span>skills</span>
		<span class="cmd-active-color">contact_me</span>
	</div>

	<div class="row margin-top-15px">
		<p class="white-color text-bold">Alternative ways to contact me:</p>
		<p>
			<span class="white-color"><i class="fa fa-linkedin"></i> linkedin.com/in/akiraff</span>
			<span class="white-color margin-left-25px"><i class="fa fa-twitter"></i> twitter.com/akiraff</span>
		</p>
		
		<p>
			<span class="white-color"><i class="fa fa-envelope"></i> akiraff@hotmail.com</span>
			<span class="white-color margin-left-30px"><i class="fa fa-github"></i> github.com/Akiraff2015</span>
		</p>

		<form method="POST" action="/">
				<label class="white-color margin-top-5px" for="name">Name / Email: </label>
				<input class="form-control" name="name" type="text" required>

				<label class="white-color margin-top-15px" for="subject">Subject: </label>
				<input class="form-control" name="subject" type="text" required>

				<label class="white-color margin-top-15px" for="message">Message: </label>
				<textarea class="form-control" name="message" required></textarea>

				<button class="cmd-button form-control">Submit</button>
		</form>
	</div>
</div>