<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="description" content="Akira Fukushima an ambitious Web Developer always keeping up to date with the latest technologies within the industry.">
	<meta name="author" content="Akira Fukushima">
	<meta name="keyword" content="Web Developer, Developer, Software Engineer, HTML, CSS, JavaScript, jQuery, PHP, NodeJS, Angular, React, Python, MySQL, MongoDB">
  <title>Akiraff | Web Developer</title>
  <script src='/jquery/dist/jquery.min.js'></script>
  <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='/javascripts/script.js'></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/font-awesome/css/font-awesome.css' />
</head>