<div id="index">
	<div class="text-bold margin-top-15px">
		<span class="cmd-green-color">root@127.0.0.1:</span>
		<span class="cmd-blue-color">~/root</span>
		<span class="white-color">$</span>

		<input id="1" class="cmd-input" type="text" placeholder="type `cd menu` to show the menu and press enter" autocomplete="off" />
	</div>
</div>