<div class="default-style" id="portfolio">
	<div class="text-bold margin-top-15px">
		<span class="cmd-green-color">root@127.0.0.1:</span>
		<span class="cmd-blue-color">~/root/menu/portfolio</span>
		<span class="white-color">$</span>

		<input id="3" class="cmd-input" type="text" placeholder="type `cd menu` to show the menu and press enter" autocomplete="off" />
	</div>	 			
	
	<span class="cmd-active-color">portfolio</span>
	<span>about_me</span>
	<span>skills</span>
	<span>contact_me</span>

	<div class="row white-color">
		<div class="col-md-6">
			<h4 class="text-bold">Akira's website</h4>
			<p>The current website http://akiraff.com/ for landing page.</p>
			<p class="text-bold"><i class="fa fa-github"></i> <a href="#">Source Code</a></p>

			<span class="badge">NodeJS</span>
			<span class="badge">HTML</span>
			<span class="badge">CSS</span>
			<span class="badge">JavaScript</span>
			<span class="badge">Bootstrap</span>
			<span class="badge">jQuery</span>
			<span class="badge">ExpressJS</span>
			<span class="badge">PassportJS</span>
			<span class="badge">MongoDB</span>
		</div>

		<div class="col-md-6">
			<h4 class="text-bold">Flask Todo App</h4>
			<p>An application that gamify user experience in order to complete daily tasks.</p>
			<p class="text-bold"><i class="fa fa-github"></i> <a href="https://github.com/akiraff2015/todo">Source Code</a></p>

			<span class="badge">Python</span>
			<span class="badge">Flask</span>
			<span class="badge">SQLite</span>
			<span class="badge">Bootstrap</span>
			<span class="badge">WTForms</span>
			<span class="badge">jQuery</span>
			<span class="badge">Jinja2</span>
		</div>
	</div>

	<div class="row white-color margin-top-15px">
		<div class="col-md-6">
			<h4 class="text-bold">Inventory Managment System</h4>
			<p>An application that keeps in track of inventory stock. Create messages boards and get other people's attention.</p>
			<p class="text-bold"><i class="fa fa-github"></i> <a href="https://github.com/Akiraff2015/project4">Source Code</a></p>

			<span class="badge">AngularJS</span>
			<span class="badge">HTML</span>
			<span class="badge">Materialize</span>
			<span class="badge">jQuery</span>
			<span class="badge">RESTful API</span>
			<span class="badge">MongoDB</span>
			<span class="badge">CSS</span>
			<span class="badge">JavaScript</span>
			<span class="badge">ExpressJS</span>
			<span class="badge">PassportJS</span>
			<span class="badge">ChartJS</span>
			<span class="badge">NodeJS</span>
		</div>

		<div class="col-md-6">
			<h4 class="text-bold">Promill Website</h4>
			<p>A landing page built for a small company, that creates custom machinery for other business.</p>
			<p class="text-bold"><i class="fa fa-github"></i> <a href="https://github.com/Akiraff2015/promill">Source Code</a></p>

			<span class="badge">PHP</span>
			<span class="badge">HTML</span>
			<span class="badge">CSS</span>
			<span class="badge">JavaScript</span>
			<span class="badge">Facebook Plugin</span>
			<span class="badge">MySQL</span>
			<span class="badge">Boostrap</span>
			<span class="badge">Google Map</span>
			<span class="badge">jQuery</span>
			<span class="badge">Bootstrap</span>
		</div>
	</div>
</div>