<!DOCTYPE html>
<html lang="en">
	<% include ./partials/header %>

	<body>
		<div class="container text-bold">
			<span class="cmd-green-color">root@127.0.0.1:</span>
			<span class="cmd-blue-color">~/root/error</span>
			<span class="white-color">$</span>
			<span class="red-color">Error have occured! <a class="text-underline" href="/">Click here</a> to go back to hompeage</span>
		</div>
	</body>
</html>