<!DOCTYPE html>
<html lang="en">
	<% include ./partials/header %>
	
  <body>
  	<div class="container">
			<% include ./partials/index %>
			<% include ./partials/menu %>
			<% include ./partials/portfolio %>
			<% include ./partials/aboutme %>
			<% include ./partials/skills %>
	 		<% include ./partials/contactme %>
  	</div>
  </body>
</html>
