<!DOCTYPE html>
<html lang="en">
	<% include ./partials/header %>

	<body>
		<div class="container">
			<form method="POST" action="/login">
				<label class="white-color" for="username">Username</label>
				<input type="input" name="username" required />

				<label class="white-color" for="password">Password</label>
				<input type="password" name="password" required />

				<button class="btn btn-success">Login</button>
			</form>
		</div>
	</body>
</html>